/* Загальні стилі */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth; 
}

body {
    font-family: "Open Sans", sans-serif;

    line-height: 1.6;
    color: #333;
    background-color: #F4ECEA; /* Основний світлий фон */
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

.container-top {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
	align-items: center;

}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
	align-items: center;

}

/* Header */
header {
    background-color: #BB4E6D; /* Ніжний рожевий */
    border-bottom: 1px solid #BB4E6D; /* Акцентний темний бордовий */
    padding: 15px 0;
}

nav .navig li a {
    font-size: 20px;
    color: #F4ECEA;
    transition: color 0.3s ease;
    margin: 20px;    
}
.navig {
    display: flex;
    justify-content: space-between;
	align-items: center;
}

nav ul li a:hover {
    color: #E9B0BB; 
        /*то слова на навігації*/
}

.auth-btn {
    background-color: #F4ECEA;
    font-size: 20px;
    font-weight: 700;
    color: #BB4E6D;
    border: none;
    padding: 10px 25px;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.auth-btn:hover {
    background-color: #E9B0BB; /*то кнопка авторизації*/
    color: #333;
}





/*Test*/
.test {
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 40px;
    color: #BB4E6D;
    display: flex;
    justify-content: center;
}









.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.main-heading {
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 20px;
}

.quiz-section {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    
}

.question {
    margin-bottom: 15px;
}

.question h3 {
    margin: 18px 20px;
}

.options {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.options li {
    margin: 4px 20px;
    
}

.options input[type="radio"] {
    margin-right: 10px;
}




.submit-button {
    display: block;
    width: 100%;
    max-width: 300px;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #BB4E6D;
    color: #fff;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    text-align: center;
}

.submit-button:hover {
    background-color: #E9B0BB;
    color: #333;
}



/**/






/* Booking Section */
.booking {
    background-color: #F4ECEA;
    padding: 20px 0;
}

form{
    margin: 5px 0 50px 0;
    display: flex;
    flex-direction: column;
    
}

.booking h2 {
    font-size: 30px;
    color: #BB4E6D;
    margin: 100px 0 20px 0 ;
}

form input, form select, form button {
    padding: 10px;
    border: 1px solid #E9B0BB;
    border-radius: 5px;
    font-size: 16px;
    margin: 3px;
}



.button {
    background-color: #BB4E6D;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 20px;
}

.button:hover {
    background-color: #E9B0BB;
    color: #333;
}

.booking-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}






/* Footer */
footer {
    background-color: #BB4E6D;
    color: #F4ECEA;
    text-align: center;
}

.footer-links a {
    color: #F4ECEA;
    margin: 0 10px;
    font-size: 14px;
}



.scroll-top {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 30px;
    color: #F4ECEA;
    text-decoration: underline;
    cursor: pointer;
}
.footer-info{
    display: flex;
    flex-direction: column;

}

.footer-social {
    display: flex;
    justify-content: space-between;
	align-items: center;
    padding: 20px 0px;
}

.footer-container{
    display: flex;
    flex-direction: column;

}

.footer-social a  {
    margin: 20px 60px;
    
}

.img-logo  {
    width: 45px;
}

.footer-social p{
        font-size: 20px;
        margin: 40px;

}